
  <style>
    * {
      /* border: 1px red dashed; */
    }

    html {
      min-height: 100%;
    }

    body {
      min-height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      color: rgba(0, 0, 0, 1);
      background: conic-gradient(from 0deg at 100% 10%, #96745d, #ad8460, #c39463, #d7a766, #e9ba6c, #f7cf7c, #fde6a5, #fffbe9);
      font-family: 'Cabin', sans-serif;
    }

    a {
      color: rgba(0, 0, 0, 1);
      text-decoration: none;
    }

    .main-container {
      max-width: 640px;
      margin: auto;
    }

    .avatar-image {
      width: 128px;
      height: 128px;
      object-fit: cover;
      border-radius: 128px;
    }

    .thumbnail {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      object-fit: cover;
    }

    .image-row {
      margin-bottom: 20px;
      text-align: center;
    }

    .name-row {
      margin-bottom: 30px;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 24px;
      font-weight: 900;
    }

    .social-icons-row {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around;
    }

    .item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      background-color: rgba(222, 170, 6, 0.95);
      border-radius: 1000px;
      padding: 5px;
      padding-right: 53px;
    }

    .link-text {
      text-align: center;
      flex-grow: 1;
    }



  </style>
